<section class="advantages">
    <div class="advantages__content">
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/1.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Объем
                        </h3>
                        <div class="advantages__card-text">
                            Даём гарантию на все изделия
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/2.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Сервис
                        </h3>
                        <div class="advantages__card-text">
                            Даём гарантию на все изделия
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/3.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Качество
                        </h3>
                        <div class="advantages__card-text">
                            Даём гарантию на все изделия
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/4.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Сроки
                        </h3>
                        <div class="advantages__card-text">
                            Даём гарантию на все изделия
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/5.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Гарантия
                        </h3>
                        <div class="advantages__card-text">
                            Даём гарантию на все изделия
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>