<section class="catalog">
    <div class="catalog__content">
        <div class="catalog__breadcrumbs">
            <a href="#">Главная</a>
            <a href="#">Металлические лотки</a>
            <a href="#" class="active">Лотки листовые универсальные</a>
        </div>
        <h1 class="catalog__heading">
            Лотки листовые универсальные
        </h1>
        <ul class="catalog__list">
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#order-modal" class="catalog__card js-modal-open">
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog.webp" alt="" class="catalog__card-image" loading="lazy">
                    </div>
                    <div class="catalog__card-content">
                        <h2 class="catalog__card-title">
                            Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                        </h2>
                        <div class="catalog__card-link">
                            Подробнее
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="catalog__text-content">
            <h3>
                Неперфорированные кабельные лотки в Казани
            </h3>
            <p>
                Поможем в выборе неперфорированных кабельных лотков в Казани. На нашем сайте представлен широкий
                ассортимент моделей, даны основные характеристики и подробные описания. Также есть отзывы пользователей,
                которые помогут составить полное мнение о товаре. А если вам нужна консультация, позвоните или закажите
                звонок с сайта. Менеджер поможет определиться с выбором и оформит заказ на неперфорированные кабельные
                лотки . Вы получите товар в кратчайшие сроки!
            </p>
        </div>
    </div>
</section>