<section class="category">
    <div class="category__content">
        <div class="category__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Металлические лотки
            </a>
        </div>
        <div class="category__top-row">
            <h1 class="category__heading">
                Металлический лоток
            </h1>
            <div class="category__text">
                Лотки изготовлены из высококачественной и износостойкой стали, покрытой защитным антикоррозионным
                покрытием. Кроме лотков, в продаже крепежи и сопутствующие аксессуары для них в ассортименте
            </div>
        </div>
        <div class="category__slider js-category-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="category__slider-card">
                            <img src="/images/category/1.webp" alt="" class="category__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category__slider-card">
                            <img src="/images/category/2.webp" alt="" class="category__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category__slider-card">
                            <img src="/images/category/1.webp" alt="" class="category__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category__slider-card">
                            <img src="/images/category/2.webp" alt="" class="category__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category__slider-arrows">
                <button class="category__slider-arrow js-category-slider-prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="category__slider-arrow js-category-slider-next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>