<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__text-content">
            <h2 class="contacts__heading">
                Контакты
            </h2>
            <ul class="contacts__list">
                <li class="contacts__list-item">
                    <a href="tel:+79290506500" class="contacts__link">
                        <h3 class="contacts__link-title">
                            Тел./факс:
                        </h3>
                        <div class="contacts__link-text">
                            +7 (929) 050-65-00
                        </div>
                    </a>
                </li>
                <li class="contacts__list-item">
                    <a href="mailto:Dea@vmknn.ru" class="contacts__link">
                        <h3 class="contacts__link-title">
                            Почта
                        </h3>
                        <div class="contacts__link-text">
                            Dea@vmknn.ru
                        </div>
                    </a>
                </li>
                <li class="contacts__list-item">
                    <div class="contacts__link">
                        <h3 class="contacts__link-title">
                            Адрес
                        </h3>
                        <div class="contacts__link-text">
                            107023, Россия, Нижний Новгород, ул. Шекспира, 10А
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contacts__map js-contacts-map" data-lat="56.262697" data-lng="43.942682">
            <div class="contacts__map-element" id="contacts-map">

            </div>
        </div>
    </div>
</section>