<section class="contacts-page">
    <div class="contacts-page__content">
        <h1 class="contacts-page__heading">
            Контакты
        </h1>
        <div class="contacts-page__blocks">
            <div class="contacts-page__block">
                <div class="contacts-page__left-col">
                    <h2 class="contacts-page__block-title">
                        Производство
                    </h2>
                    <div class="contacts-page__factories">
                        <img src="/images/globe.svg" alt="" class="contacts-page__factories-icon">
                        <h4 class="contacts-page__factories-title">
                            50 заводов
                        </h4>
                        <div class="contacts-page__factories-text">
                            по России сотрудничают с нашей компанией
                        </div>
                    </div>
                </div>
                <div class="contacts-page__right-col">
                    <ul class="contacts-page__list">
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Тел./факс:
                                </h3>
                                <a href="tel:88312199197" class="contacts-page__card-value">
                                    8 (831) 2 199 197
                                </a>
                            </div>
                        </li>
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Почта
                                </h3>
                                <a href="mailto:proekt@vmknn.ru" class="contacts-page__card-value">
                                    proekt@vmknn.ru
                                </a>
                            </div>
                        </li>
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Адрес
                                </h3>
                                <div class="contacts-page__card-value">
                                    107023, Россия, Нижний Новгород, ул.<br> Шекспира, 10А
                                </div>
                                <a href="#" class="contacts-page__map-link">
                                    Показать на карте
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts-page__block">
                <div class="contacts-page__left-col">
                    <h2 class="contacts-page__block-title">
                        Оптовые продажи
                    </h2>
                    <div class="contacts-page__factories">
                        <img src="/images/globe.svg" alt="" class="contacts-page__factories-icon">
                        <h4 class="contacts-page__factories-title">
                            50 заводов
                        </h4>
                        <div class="contacts-page__factories-text">
                            по России сотрудничают с нашей компанией
                        </div>
                    </div>
                </div>
                <div class="contacts-page__right-col">
                    <ul class="contacts-page__list">
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Тел./факс:
                                </h3>
                                <a href="tel:89506096945" class="contacts-page__card-value">
                                    8 950 609 69 45
                                </a>
                            </div>
                        </li>
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Почта
                                </h3>
                                <a href="mailto:proekt@vmknn.ru" class="contacts-page__card-value">
                                    proekt@vmknn.ru
                                </a>
                            </div>
                        </li>
                        <li class="contacts-page__list-item">
                            <div class="contacts-page__card">
                                <h3 class="contacts-page__card-key">
                                    Адрес
                                </h3>
                                <div class="contacts-page__card-value">
                                    107023, Россия, Нижний Новгород, ул.<br> Шекспира, 10А
                                </div>
                                <a href="#" class="contacts-page__map-link">
                                    Показать на карте
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contacts-page__bottom-row">
            <div class="contacts-page__callback">
                <h4 class="contacts-page__callback-title">
                    Вы нашли секретный контакт директора!
                </h4>
                <div class="contacts-page__callback-bottom-row">
                    <div class="contacts-page__callback-text">
                        Лично следит за качеством продукции. Вы можете ему написать!
                    </div>
                    <a href="#" class="contacts-page__callback-link">
                        Хочу связаться
                    </a>
                </div>
            </div>
            <a href="#" class="contacts-page__director">
                <div class="contacts-page__director-photo-wrapper">
                    <img src="/images/director.webp" alt="" class="contacts-page__director-photo">
                </div>
                <div class="contacts-page__director-content">
                    <h4 class="contacts-page__director-title">
                        Давыдов Евгений Александрович расскажет, о том, как устроено производство в ВМК
                    </h4>
                    <div class="contacts-page__director-bottom-row">
                        <div class="contacts-page__director-interesting">
                            Это интересно!
                        </div>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>