<footer class="page-footer">
    <div class="page-footer__content">
        <a href="/" class="page-footer__logo">
            <img src="/images/logo.svg" alt="" class="page-footer__logo">
        </a>
        <div class="page-footer__nav-wrapper">
            <div class="page-footer__nav-col">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Металлический лоток
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            LAN
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            КПС
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Силовой кабель
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Аксессуары
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Оптический кабель
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Шкофы ЦОД
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            СКС
                        </a>
                    </li>

                </ul>
            </div>
            <div class="page-footer__nav-col">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <a href="mailto:proekt@vmknn.ru" class="page-footer__contacts-link">
                            proekt@vmknn.ru
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:98312199197" class="page-footer__contacts-link">
                            9 (831) 2 199 197
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:89506096945" class="page-footer__contacts-link">
                            89506096945
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-link">
                            Нижний Новгород, ул. Шекспира, 10А
                        </div>
                    </li>
                </ul>
            </div>



        </div>
        <a href="#" class="page-footer__callback">
            Если у вас есть вопросы, мы готовы на них ответить
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
        <div class="page-footer__copyright">
            © 2020-2023 ВМК
        </div>
        <a href="#" class="page-footer__made-by">
            Это сделал
            <img src="/images/onheet.svg" alt="" class="page-footer__made-by-image">
        </a>
    </div>
</footer>