<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">
                <nav class="page-header__nav">
                    <ul>
                        <li>
                            <a href="#">
                                О нас
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                продукция
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__contacts">
                    <a href="tel:89506096945" class="page-header__contacts-link">
                        89506096945
                    </a>
                    <a href="mailto:proekt@vmknn.ru" class="page-header__contacts-link">
                        proekt@vmknn.ru
                    </a>
                </div>
                <a href="#" class="page-header__callback-btn">
                    ЗАПРОСИТЬ КП
                </a>
            </div>
        </div>
    </div>
</header>