<div class="modal js-modal" id="order-modal">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__product">
            <div class="modal__product-image-wrapper">
                <img src="/images/modal-product.webp" alt="" class="modal__product-image">
            </div>
            <div class="modal__product-text-content">
                <h3 class="modal__product-title">
                    Лоток неперфорированный ЛН 150х100х3000 (1,0 мм) оцинкованная сталь, стандартный замок
                </h3>
                <div class="modal__product-specs">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    Материал
                                </th>
                                <td>
                                    сталь оцинкованная
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Способ цинкования
                                </th>
                                <td>
                                    по методу сендзимира
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Толщина металла
                                </th>
                                <td>
                                    1 mm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Вес нетто
                                </th>
                                <td>
                                    17.04 кг
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Размер
                                </th>
                                <td>
                                    50х100х3000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form action="/" method="POST" class="modal__product-form">

                    <div class="modal__product-form-sizes-wrapper">
                        <h4 class="modal__product-form-sizes-title">
                            размерная сетка
                        </h4>
                        <div class="modal__product-form-sizes">
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="1"
                                    class="modal__product-form-size-checkbox-input" checked="">
                                <span class="modal__product-form-size-checkbox-text">
                                    1
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="2,5"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    2,5
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="4"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    4
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="6"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    6
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="10"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    10
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="16"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    16
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="25"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    25
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="35"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    35
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="50"
                                    class="modal__product-form-size-checkbox-input">
                                <span class="modal__product-form-size-checkbox-text">
                                    50
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="70"
                                    class="modal__product-form-size-checkbox-input" disabled="">
                                <span class="modal__product-form-size-checkbox-text">
                                    70
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="95"
                                    class="modal__product-form-size-checkbox-input" disabled="">
                                <span class="modal__product-form-size-checkbox-text">
                                    95
                                </span>
                            </label>
                            <label class="modal__product-form-size-checkbox">
                                <input type="radio" name="size" value="120"
                                    class="modal__product-form-size-checkbox-input" disabled="">
                                <span class="modal__product-form-size-checkbox-text">
                                    120
                                </span>
                            </label>
                        </div>
                    </div>
                    <button class="modal__product-form-submit" type="submit">
                        ЗАКАЗАТЬ
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>