<section class="production">
    <div class="production__content">
        <h2 class="production__heading">
            Продукция
        </h2>
        <ul class="production__list">
            <li class="production__list-item">
                <a href="#" class="production__card">
                    <img src="/images/production/1.webp" alt="" class="production__card-image">
                    <h3 class="production__card-title">
                        Лотки листовые универсальные
                    </h3>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#production-arrow"></use>
                    </svg>
                </a>
            </li>
            <li class="production__list-item">
                <a href="#" class="production__card">
                    <img src="/images/production/2.webp" alt="" class="production__card-image">
                    <h3 class="production__card-title">
                        Крышки для листовых лотков
                    </h3>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#production-arrow"></use>
                    </svg>
                </a>
            </li>
            <li class="production__list-item">
                <a href="#" class="production__card">
                    <img src="/images/production/3.webp" alt="" class="production__card-image">
                    <h3 class="production__card-title">
                        Аксессуары для лотков
                    </h3>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#production-arrow"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>