<section class="products">
    <div class="products__content">
        <h2 class="products__heading">
            Продукция
        </h2>
        <ul class="products__list">
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/1.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        Металлический лоток
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/2.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        LAN
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/3.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        КПС
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/4.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        Силовой кабель
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/5.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        Аксессуары
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/6.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        Оптический кабель
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/7.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        Шкофы ЦОД
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="products__list-item">
                <a href="#" class="products__card">
                    <img src="/images/products/8.webp" alt="" class="products__card-image" loading="lazy">
                    <h3 class="products__card-title">
                        СКС
                    </h3>
                    <div class="products__card-btn">
                        Подробнее
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>