<section class="solutions">
    <div class="solutions__content">
        <h2 class="solutions__heading">
            У нас есть готовые решения для
        </h2>
        <div class="solutions__slider js-solutions-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <div class="solutions__slider-card-image-wrapper">
                                <img src="/images/solutions.webp" alt="" class="solutions__slider-card-image"
                                    loading="lazy">
                            </div>
                            <h3 class="solutions__slider-card-title">
                                Серверные ЦОД
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <div class="solutions__slider-card-image-wrapper">
                                <img src="/images/solutions.webp" alt="" class="solutions__slider-card-image"
                                    loading="lazy">
                            </div>
                            <h3 class="solutions__slider-card-title">
                                Предприятий
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <div class="solutions__slider-card-image-wrapper">
                                <img src="/images/solutions.webp" alt="" class="solutions__slider-card-image"
                                    loading="lazy">
                            </div>
                            <h3 class="solutions__slider-card-title">
                                Серверные ЦОД
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <div class="solutions__slider-card-image-wrapper">
                                <img src="/images/solutions.webp" alt="" class="solutions__slider-card-image"
                                    loading="lazy">
                            </div>
                            <h3 class="solutions__slider-card-title">
                                Предприятий
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>