<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__breadcrumbs">
            <a href="#">Главная</a> <a href="#" class="active">текстовая страница</a>
        </div>
        <h1 class="text-page__heading">
            КЭАЗ представил новые серии контакторов OptiStart
        </h1>
        <div class="text-page__wrapper">
            <div class="annotation">
                Новые серии контакторов OptiStart K и реле перегрузки OptiStart TF являются качественной заменой
                продукции зарубежных производителей, которые ушли с российского рынка.
            </div>
            <div class="fullwidth-image">
                <img src="/images/fullwidth-image.webp" alt="" class="fullwidth-image__image">
            </div>
            <h3>
                Неперфорированные кабельные лотки в Казани
            </h3>
            <p>
                Новые серии контакторов OptiStart K и реле перегрузки OptiStart TF являются качественной заменой
                продукции зарубежных производителей, которые ушли с российского рынка. Они подходят для проектных
                решений повышенной сложности, применяемых в стратегически важных отраслях промышленности, а также в
                строительстве, инфраструктуре, машиностроении и т.д. Обеспечивают реализацию комплексных решений на базе
                оборудования КЭАЗ для автоматизации и управления электродвигателем.
            </p>
            <div class="gallery-slider js-gallery-slider">
                <div class="gallery-slider__main">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <img src="/images/gallery-slider.webp" alt=""
                                        class="gallery-slider__main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <img src="/images/gallery-slider.webp" alt=""
                                        class="gallery-slider__main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <img src="/images/gallery-slider.webp" alt=""
                                        class="gallery-slider__main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <img src="/images/gallery-slider.webp" alt=""
                                        class="gallery-slider__main-card-image">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="gallery-slider__thumbs">
                    <button class="gallery-slider__thumbs-arrow js-gallery-slider-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path
                                d="M24.3156 16.5445C24.4429 16.6719 24.5144 16.8446 24.5144 17.0248C24.5144 17.2049 24.4429 17.3776 24.3156 17.5051L17.3205 24.5013H35.6166C35.7969 24.5013 35.9697 24.5729 36.0972 24.7004C36.2247 24.8279 36.2963 25.0008 36.2963 25.181C36.2963 25.3613 36.2247 25.5342 36.0972 25.6616C35.9697 25.7891 35.7969 25.8607 35.6166 25.8607H17.3205L24.3156 32.857C24.4357 32.9858 24.5011 33.1562 24.498 33.3323C24.4949 33.5084 24.4235 33.6764 24.299 33.8009C24.1745 33.9255 24.0065 33.9968 23.8304 33.9999C23.6543 34.003 23.4839 33.9376 23.355 33.8176L15.1988 25.6613C15.0715 25.5339 15 25.3611 15 25.181C15 25.0009 15.0715 24.8281 15.1988 24.7007L23.355 16.5445C23.4825 16.4172 23.6552 16.3457 23.8353 16.3457C24.0155 16.3457 24.1882 16.4172 24.3156 16.5445Z" />
                        </svg>
                    </button>
                    <div class="gallery-slider__thumbs-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery-slider__thumbs-card">
                                        <img src="/images/gallery-slider.webp" alt=""
                                            class="gallery-slider__thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__thumbs-card">
                                        <img src="/images/gallery-slider.webp" alt=""
                                            class="gallery-slider__thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__thumbs-card">
                                        <img src="/images/gallery-slider.webp" alt=""
                                            class="gallery-slider__thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__thumbs-card">
                                        <img src="/images/gallery-slider.webp" alt=""
                                            class="gallery-slider__thumbs-card-image">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <button class="gallery-slider__thumbs-arrow js-gallery-slider-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path
                                d="M25.6844 16.5445C25.5571 16.6719 25.4856 16.8446 25.4856 17.0248C25.4856 17.2049 25.5571 17.3776 25.6844 17.5051L32.6795 24.5013H14.3834C14.2031 24.5013 14.0303 24.5729 13.9028 24.7004C13.7753 24.8279 13.7037 25.0008 13.7037 25.181C13.7037 25.3613 13.7753 25.5342 13.9028 25.6616C14.0303 25.7891 14.2031 25.8607 14.3834 25.8607H32.6795L25.6844 32.857C25.5643 32.9858 25.4989 33.1562 25.502 33.3323C25.5051 33.5084 25.5765 33.6764 25.701 33.8009C25.8255 33.9255 25.9935 33.9968 26.1696 33.9999C26.3457 34.003 26.5161 33.9376 26.645 33.8176L34.8012 25.6613C34.9285 25.5339 35 25.3611 35 25.181C35 25.0009 34.9285 24.8281 34.8012 24.7007L26.645 16.5445C26.5175 16.4172 26.3448 16.3457 26.1647 16.3457C25.9845 16.3457 25.8118 16.4172 25.6844 16.5445Z" />
                        </svg>
                    </button>
                </div>
            </div>
            <h3>
                Неперфорированные кабельные лотки в Казани
            </h3>
            <p>
                Новые серии контакторов OptiStart K и реле перегрузки OptiStart TF являются качественной заменой
                продукции зарубежных производителей, которые ушли с российского рынка. Они подходят для проектных
                решений повышенной сложности, применяемых в стратегически важных отраслях промышленности, а также в
                строительстве, инфраструктуре, машиностроении и т.д. Обеспечивают реализацию комплексных решений на базе
                оборудования КЭАЗ для автоматизации и управления электродвигателем.
            </p>
            <ul>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
            </ul>
            <h3>
                Неперфорированные кабельные лотки в Казани
            </h3>
            <p>
                Новые серии контакторов OptiStart K и реле перегрузки OptiStart TF являются качественной заменой
                продукции зарубежных производителей, которые ушли с российского рынка. Они подходят для проектных
                решений повышенной сложности, применяемых в стратегически важных отраслях промышленности, а также в
                строительстве, инфраструктуре, машиностроении и т.д. Обеспечивают реализацию комплексных решений на базе
                оборудования КЭАЗ для автоматизации и управления электродвигателем.
            </p>
            <ol>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
                <li>
                    Название пункта
                </li>
            </ol>
        </div>
    </div>
</section>