.page-header {
  @include blockWrapper;
  padding: sf(2.5rem) 0;
  position: relative;
}

.page-header__content {
  @include blockContent;
  background-color: #fff;
  padding: sf(0.3rem);
  border-radius: sf(0.5rem);
  display: flex;
  align-items: center;
  gap: sf(4.6rem);
  margin: 0 sf(-2.1rem);
}

.page-header__logo {
  flex-shrink: 0;
  margin-left: sf(1.8rem);
  margin-right: sf(2.2rem);
}

.page-header__logo-image {
  display: block;
  height: auto;
  width: sf(12rem);
}

.page-header__menu {
  display: contents;
}

.page-header__menu-inner {
  display: contents;
}

.page-header__nav {
  margin-right: auto;
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: sf(4.4rem);
    row-gap: sf(2.2rem);
    & > li {
      flex-shrink: 0;
      & > a {
        display: block;
        font-size: sf(1.4rem);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        @media (hover: hover) {
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.page-header__contacts {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: sf(4.6rem);
}

.page-header__contacts-link {
  font-size: sf(1.5rem);
  display: block;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.page-header__callback-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: sf(1.9rem) sf(4rem);
  font-size: sf(1.6rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: sf(0.5rem);
  background: #233a42;
  color: white;
  transition: background-color 0.2s, color 0.2s;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
